.footer-b{
  background-color: inherit !important;
    }
    .footer-links{
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 21px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    }
    