.modal-use-postjob{
    background: #3D9AE0;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    border: none;

}

.workernav_2_searchbar{
    background-color: #3D9AE0;
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    border-right: none;
    outline: none;
    height: 5vh;
    width: 310px;
    border-radius: 20px 0px 0px 20px;
    padding-left:15px ;
    
}
.workernav_2_searchbtn{
    background-color: #3D9AE0;
    border: 1px solid #fff;
    border-left: none;
    width: 50px;
    height: 5vh;
    border-radius: 0px 20px 20px 0px;

}

.workernav_2_searchbar::placeholder {
  color: rgb(255, 255, 255);
}
