.postjob-maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.addreview-maincontainermainbox{
    width: 559px;
height: 546px;
flex-shrink: 0;
border-radius: 25px;
background: #ffffff;
margin-left: -30px;

}
.addreview-maincontainermainboxtop{
    width: 559px;
height: 71px;
flex-shrink: 0;
border-radius: 25px 25px 0px 0px;
background: #3D9AE0;
text-align: center;
color: #FFF;
font-family: "Noto Sans";
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 20px;
}
.addreview-maininputs{
    padding-top: 30px;
}
.addreview-maininputs p{
    color: #3D9AE0;
font-family: "Noto Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 30px;
}
.addreview-maininputs input{
    width: 478px;
height: 42px;
flex-shrink: 0;width: 478px;
height: 42px;
flex-shrink: 0;border-radius: 12px;
border: 0.604px solid #C6C6C6;
background: #FFF;
}

.addreview-maininputs select{
    width: 478px;
height: 42px;
flex-shrink: 0;width: 478px;
height: 42px;
flex-shrink: 0;border-radius: 12px;
border: 0.604px solid #C6C6C6;
background: #FFF;
}

.addreview-maininputs textarea{
    width: 478px;
    height: 107px;
    flex-shrink: 0;border-radius: 12px;
border: 0.604px solid #C6C6C6;
background: #FFF;
}
.addreview-maininputsbutton{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
 
}
.addreview-maininputsbutton button{
    color: #FFF;
font-family: "Noto Sans";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 89px;
height: 31px;
flex-shrink: 0;width: 89px;
height: 31px;
flex-shrink: 0;
border-radius: 12px;
background: #3D9AE0;
border: none;
margin-top: 20px;
}
.addreview-maininputsi{
    display: flex;
    justify-content: center;
    align-items: center;

}



.addreview-starrate{
    margin-left: 20px;
    display: flex;
    gap: 260px;
}

.addreview-profile-div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #3D9AE0;
}

/* five star rating  */


.star-rating {
    
    direction: ltr; /* Align stars from right to left */
    font-size: 2rem;
  }
  
  .star-rating button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .star-rating .on .star {
    color: gold;
  }
  
  .star-rating .off .star {
    color: rgb(122, 119, 119);
  }

  /* profile */

  .profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
  }
  
  .profile-pic-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    border:2px solid #3D9AE0;
    border-radius: 50%;
  }
  
  .profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-pic-edit {
    position: absolute;
    width: 20px;
    height:20px;
    bottom: 10px;
    right: 10px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    color: #3D9AE0;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }