.home-subheading {
    color: #4DA9EC;
    text-align: center;
    font-family: "Noto Sans";
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; 
    display: inline; 
    padding-bottom: 2px; 
  }
  
  .home-bg {
    /* background-image: url('../../../Assets/78860289430e2548240d298c80a2262b.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px; */
  }
  .icon-color{
    color:#4DA9EC !important;
    ;
  }
  .h3-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Optional: adds ... if the text is too long */
  }
  .home-para{
    font-family:  'Noto Sans';
    font-weight: 200;
    font-size: 25px;
    line-height: 52px;

  }