.navbar-b{
color: #FFF;
background-color: #4DA9EC;
font-family: "Elsie Swash Caps";
font-size: 29.194px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navbar-links{
color: #FFF;
font-family: "Noto Sans";
font-size: 21px;
font-style: normal;
font-weight: 100;
line-height: normal;
}
